@model IEnumerable<Negocio.DTO.PedidosDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <h2>Pedidos</h2>
</div>
<div class="row float-right">
    <p>
        @Html.ActionLink("Nuevo", "Create", "", new { @class = "plus" })
    </p>
</div>

<table class="table table-hover table-striped table-light table-bordered">
    <thead>
        <tr class="bg-primary">
            <th>
                @Html.DisplayNameFor(model => model.ClientesAsoc.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientesAsoc.NombreCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subtotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Iva)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.ActionLink("Ver productos", "ProductosPedidos", new { id = item.IdPedido })
                </td>

            </tr>
        }
    </tbody>

</table>
