@model Negocio.DTO.ProductosDTO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3 class="text-danger">¿Estás seguro que quieres eliminar este producto?</h3>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroProducto)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Volver a la lista", "Index", "", new { @class = "btn btn-info" })
        </div>
    }
</div>
